html {
    background-color: #F4F5F6;
}
.using-table-line {
    width: 100%;
    height: 1px;
    background-color: #EBEBEB;
}

.no-record{
    width: 100%;
    text-align: center;
}
.using-often {
    padding: 20px;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
}
#more-address, #more-ip{
    cursor: pointer;
}
.card-info {
    background-color: #E3F5FD;
    padding: 5px 3px;
    text-align: center;
    font-size: 13px;
    color: #1E93FF;
    border-radius: 2px;
}

.website-info {
    color: #1791FF;
}

.problem-info {
    color: #FC4D4F;
}

.layui-btn-normal {
    border-radius: 4px;
}

.table-header-title {
    color: #222222;
    font-size: 14px;
}
.common-button{
    border-radius: 4px;
    width: 96px;
}
