.using-table-line{
    width: 100%;
    height: 1px;
    background-color: #EBEBEB;
}

.card-info{
    background-color: #F6F8FA;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    color: #4A4A4A;
}

.website-info{
    color: #1791FF;
}
.problem-info{
    color: #FC4D4F;
}
.layui-btn-normal{
    border-radius: 4px;
}
.table-header-title{
    color: #222222;
    font-size: 14px;
}
